.editorContainerWrapper {
  margin-top: 73px;
  margin-right: 24px;
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  user-select: none;
  overflow-y: auto;

  min-height: calc(100vh - 90px);
  background-size: 18px 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorContainerInnerWrapper {
  position: relative;
}

.editorBackground {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
