:root {
  --editor-padding-top: 30px;
  --editor-padding-bottom: 30px;
}

.cm-editor {
  border-radius: 10px;
  padding-top: var(--editor-padding-top);
  padding-bottom: var(--editor-padding-bottom);
}

.cm-gutter {
  border-bottom-left-radius: 10px;
}
.cm-gutterElement {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0 !important;
}

.cm-gutters {
  border-bottom-left-radius: 10px;
  background-color: transparent !important;
  border-right: 0 !important;
  padding: 0 3px;
}

.cm-line {
  padding: 0 !important;
}
.cm-scroller {
  padding: 0 24px;
}

.cm-editor.cm-focused {
  outline: 0;
}
